
{% extends 'base.html' %}

{% block content %}
    <br>

      {% if user %}
        <form method="post" class="form-horizontal" action="{% url 'auth_employee_add' %}">
          {% csrf_token %}
        <div class="container">
        <h3>My Profile</h3>
            <div class="row">
            <div class="col-md-12">
            <table class="table table-bordered table-hover table-striped">

            <thead>
                <tr>
                    <th style="background-color: blue; color: white">Info</th>
                    <th style="background-color: blue; color: white">Details</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td><label class="control-label"><b>First name</b></label></td>
                    <div class="col-md-5"><td><input name="first_name" value="{{ user.first_name}}" readonly></td> </div>

                 </tr>

                 <tr>
                    <td><label class="control-label"><b>Last name:</b></label></td>
                    <div class="col-md-5"><td><input name="last_name" value="{{ user.last_name}}" readonly></td> </div>

                </tr>

                <tr>
                    <td><label class="control-label"><b>Email id</b></label></td>
                    <div class="col-md-5"><td><input name="email" value="{{ user.email}}" readonly></td> </div>

                </tr>

                <tr>
                    <td><label class="control-label"><b>Username:</b></label></td>
                    <div class="col-md-5"><td><input name="username" value="{{ user.username}}"></td> </div>
              </tr>

                <tr>
                <td><label class="control-label"><b>Password:</b></label></td>
                <div class="col-md-5"><td><input name="password" type="password">{{ uf.password }}</td> </div>
              </tr>

                <tr>
                <td><label class="control-label"><b>Role:</b></label></td>
                <div class="col-md-5"><td><input name="role" type="text">{{ uf.role }}</td> </div>
              </tr>
              {{uf.as_p}}

                <!-- <tr>
                    <td>Salary</td>
                    <td><input type="text" name ="salary">{{ object.salary}}</td>

                </tr> -->

                <tr>
                    <td>Designation</td>
                    <td><input type="text" name="designation">{{ object.designation}}</td>

                </tr>

            </tbody>
</table>
</div>
</div>
</div>


         <div class="text-right">
            <button type="submit">Complete Profile</button>
        <!-- <a style="background-color: cyan; color: black;" class="btn btn-outline-primary float-right"  href="{% url 'auth_employee_add' %}">Complete Profile</a> -->
    </div>
</div>
</form>

        {% endif %}


{% endblock content %}